# Замените значения на ваши
PROXY_HOST=YOUR_SERVER_IP
PROXY_USER=YOUR_PROXY_USER
PROXY_PASS=YOUR_PROXY_PASSWORD

# HTTP/HTTPS через 3proxy
HTTP_PROXY=http://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:3128
HTTPS_PROXY=http://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:3128

# SOCKS5 через 3proxy
ALL_PROXY=socks5://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:1080
